/* Put your CSS here */
.ember-application {
    margin: 20px;
}

table {
	border-collapse: collapse;
}

table th {
	padding: 10px;
	border: 1px solid #bbb;
}

table td {
	padding: 8px;
	border: 1px solid #bbb;
}

table tr:nth-child(odd) {
	background: #eee;
}