<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/x-handlebars">
    <h2>My Contact</h2>

    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="index">
	<label>Search: </label>
	{{input type="text" value=filter}}
	<br/>
	<br/>
	
	<table>
	    <thead>
			<th>Nama</th><th>Email</th>
		</thead>
	    {{#each item in filteredContent}}
	    <tr>
			<td>{{item.name}}</td>
			<td><a {{bind-attr href=item.email}}>{{item.email}}</td>
		</tr>
	    {{/each}}
	    </ul>
	</table>
  </script>

  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/handlebars-v2.0.0.js"></script>
  <script src="js/libs/ember-1.9.0.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/app.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>
</html>
